body {

}

nav {
  background-color: black;
  color: white;
  padding: 10px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  position: fixed;
  width: 100%;
}

.super-tall {
  height: 2000px;
}

.favorite-song {
  color: gold;
}

#grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-areas: "songs favorites playlists"
}

#songs {
  grid-area: songs;
}

#favorites {
  grid-area: favorites;
}

#playlists {
  grid-area: playlists;
}

#title {
  font-family: cursive;
  font-size: 40px;
}
